.filter {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 50px 0;
}
.form {
    width: 45vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    border: 1px solid #000;
    border-radius: 8px;
    padding: 8px;
}
.form_control {
    display: flex;
    justify-content: flex-start !important;
    flex-direction: column;
    text-align: left;
    padding: 0 18px;
    /* border: 1px solid #000;
    border-style: none solid none solid; */
}
.form_control label {
    color: #000;
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 5px;
}
.form_control input {
    border: none;
}
.form_control input::placeholder {
    font-size: 12px;
}
.filter__button button {
    border: none;
    background-color: #4468e2;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    padding: 16px;
    border-radius: 8px;
}
